<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <scriptBundle virtualPath="~/bundles/sitescripts" disableMinification="False">
      <include virtualPath="~/scripts/jquery-1.11.1.min.js" />
      <include virtualPath="~/scripts/bootstrap.min.js" />
      <include virtualPath="~/scripts/wow.min.js" />
      <include virtualPath="~/scripts/bootstrap-hover-dropdown.min.js" />
      <include virtualPath="~/scripts/jquery.mixitup.min.js" />
      <include virtualPath="~/scripts/jquery.flexslider-min.js" />
      <include virtualPath="~/scripts/jquery.magnific-popup.min.js" />
      <include virtualPath="~/scripts/jquery.validate.min.js" />
      <include virtualPath="~/scripts/jquery.validate.unobtrusive.min.js" />
      <include virtualPath="~/scripts/custom.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/sitecss" disableMinification="False">
      <include virtualPath="~/css/bootstrap.css" />
      <include virtualPath="~/css/font-awesome.css" />
      <include virtualPath="~/css/flexslider.css" />
      <include virtualPath="~/css/magnific-popup.css" />
      <include virtualPath="~/css/style.css" />
    </styleBundle>
  </bundles>
</optimus>