
body, html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}


/******base******/
a {
    text-decoration: none;
    color: #0080C5;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    a:hover, a:focus {
        text-decoration: none;
        color: #0080C5;
        outline: 0;
    }

strong, b {
    font-weight: 700;
}

.colored-text {
    color: #0080C5;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1 {
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: 28px;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    line-height: 34px;
}

h5 {
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

h1, h2 {
    margin-bottom: 15px;
}

h3, h4, h5, h6 {
    margin-bottom: 10px;
}

p {
    margin: 0 0 10px 0;
    line-height: 26px;
    font-weight: 400;
    color: #777;
}

p, span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

em {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h2.pageHeading {
    overflow: hidden;
}

    h2.pageHeading span.headingText {
        vertical-align: middle;
    }

.text-danger.field-validation-error {
    color: #cb2027;
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ddd;
    padding: 6px 12px;
}

/*******space margins***/
.space-10 {
    width: 100%;
    height: 10px;
}

.space-20 {
    width: 100%;
    height: 20px;
}

.space-30 {
    width: 100%;
    height: 30px;
}

.space-40 {
    width: 100%;
    height: 40px;
}

.space-80 {
    height: 80px;
    width: 100%;
}

.margin-btm-20 {
    margin-bottom: 20px;
}
/***********buttons***********/
.btn {
    display: inline-block;
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    white-space: normal;
}

    .btn:hover, .btn:focus {
        color: #fff;
        outline: 0;
    }

.btn-lg {
    padding: 10px 20px;
}

.btn-theme {
    background-color: transparent;
    border: 1px solid #0080C5;
    color: #333;
}

    .btn-theme:hover {
        background-color: #0080C5;
        border-color: #0080C5;
        color: #fff;
    }

.btn-white-border {
    color: #fff;
    border: 1px solid #666;
}

    .btn-white-border:hover {
        color: #333;
        background-color: #fff;
        border-color: #fff;
    }

.btn-theme-bg {
    background-color: #0080C5;
    color: #fff;
}

    .btn-theme-bg:hover {
        color: #fff;
        background-color: #333;
    }

.segment {
    padding: 30px 0;
    margin: 0;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center center;
}

    .segment.contactArea {
        padding: 0;
        margin: 30px 0 0 0;
    }

.contactInfo {
    padding: 30px 0 0 0;
}

/*************navigation header css******/
.navbar-inverse .navbar-brand {
    color: #fff;
    padding-left: 0;
}

.navbar-brand {
    float: left;
    height: inherit;
    padding: 0;
    font-size: 0;
}

.navbar {
    border: 0;
}

.headerTopLinks {
    display: block;
}

.navbar-nav {
    float: left;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

header.navbar-inverse {
    padding: 15px 0;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header.stuck {
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 10px 0;
    -ms-opacity: 1;
    opacity: 1;
    -webkit-box-shadow: 0 1px 5px #646464;
    -webkit-box-shadow: 0 1px 5px rgba(100, 100, 100, 0.3);
    -moz-box-shadow: 0 1px 5px #646464;
    -moz-box-shadow: 0 1px 5px rgba(100, 100, 100, 0.3);
    -ms-box-shadow: 0 1px 5px #646464;
    -ms-box-shadow: 0 1px 5px rgba(100, 100, 100, 0.3);
    box-shadow: 0 1px 5px #646464;
    box-shadow: 0 1px 5px rgba(100, 100, 100, 0.3);
}

.navbar-social > li > a > i {
    font-size: 19px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #0080C5;
    }

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #0080C5;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #0080C5;
    background-color: transparent;
}

/*======dropdowm menu=========*/

.navbar .dropdown-menu {
    padding: 0;
    margin: 0;
    -moz-min-width: 190px;
    -ms-min-width: 190px;
    -o-min-width: 190px;
    -webkit-min-width: 190px;
    min-width: 190px;
    background-color: #fff;
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

    .navbar .dropdown-menu li a {
        color: #333;
        padding: 12px 20px;
        border-bottom: 1px solid #ddd;
        font-weight: 600;
        font-size: 13px;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        -ms-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }

        .navbar .dropdown-menu li a:hover {
            background: transparent;
            color: #0080C5;
        }

/**dropdown submenu*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
        margin-left: -1px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #ffffff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            -ms-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

/*banner*/
#banner {
    background-color: #444;
    -ms-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: table;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    z-index: 1;
}

.home-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 3;
}

.main-flex-slider h1 .colored-text {
    font-weight: 900;
}

.main-flex-slider h1 {
    font-weight: 900;
    font-style: normal;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}

.flex-slide-border {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    width: 600px;
    max-width: 80%;
    margin: 10px auto;
}

/***intro-text*****/
.intro-wrap {
    background-color: #eee;
}

/************heading section******/
.heading-section {
    margin-bottom: 60px;
}

.main-heading {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin-bottom: 30px;
}

    .main-heading span {
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
    }

.right-btn {
    float: right;
}

.sub-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0;
    margin: 0 0 15px 0;
}

.sub-heading p {
    font-weight: 400;
}

/******************services****************/
.service-box {
    text-align: center;
    margin-bottom: 25px;
}

    .service-box i {
        width: 95px;
        height: 95px;
        line-height: 95px;
        text-align: center;
        color: #0080C5;
        font-size: 36px;
        background-color: #eee;
        margin-bottom: 25px;
        -ms-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -ms-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -ms-opacity: 1;
        opacity: 1;
    }

    .service-box:hover i {
        -ms-opacity: 1;
        opacity: 1;
        -webkit-transform: rotate(360deg) scale(1);
        -moz-transform: rotate(360deg) scale(1);
        -ms-transform: rotate(360deg) scale(1);
        -o-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
        color: #fff;
        background-color: #0080C5;
    }

    .service-box h4 {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
    }

    .service-box p {
        font-weight: 500;
    }

.service-box-2 h3 {
    font-size: 18px;
    color: #444;
    font-weight: 400;
    text-transform: uppercase;
}

    .service-box-2 h3 i {
        margin-right: 15px;
        color: #999;
        font-size: 23px;
        vertical-align: middle;
    }

#grid .mix {
    display: none;
    -ms-opacity: 0;
    opacity: 0;
}

#grid .image-area {
    margin-bottom: 30px;
}

.full-width .col-md-3, .full-width .col-sm-6 {
    padding: 0;
    margin: 0;
}

.full-width .image-area {
    margin-bottom: 0 !important;
}

.portfolio-filters {
    margin-bottom: 30px;
    list-style: none;
    padding: 0;
}

    .portfolio-filters li {
        display: inline-block;
        border: 1px solid #888;
        padding: 8px 10px;
        letter-spacing: 4px;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 400;
        color: #666;
        -ms-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

        .portfolio-filters li + li {
            margin-left: 10px;
        }

        .portfolio-filters li:hover {
            background-color: #0080C5;
            color: #fff;
            border-color: #0080C5;
        }

        .portfolio-filters li.active {
            background-color: #0080C5;
            color: #fff;
            border-color: #0080C5;
        }

.image-wrapper {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    -ms-opacity: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.5);
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .image-overlay p {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        width: 100%;
        text-align: center;
        color: #fff;
    }

.image-wrapper:hover .image-overlay {
    -ms-opacity: 1;
    opacity: 1;
}

.parallax {
    background-position: 0 0;
    background-repeat: no-repeat;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.carousel {
    margin-bottom: 50px;
}

.carousel-control {
    top: 50%;
    margin-top: -20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

    .carousel-control span i {
        font-size: 44px;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none;
    }

.project-detail {
    margin-bottom: 40px;
}

    .project-detail h4 {
        text-transform: uppercase;
        border-bottom: 2px solid #f5f5f5;
        font-size: 18px;
    }

    .project-detail p {
        font-weight: 300;
        font-size: 20px;
    }

    .project-detail .colored-text {
        font-size: 16px;
        text-transform: uppercase;
    }

.work-cta {
    padding-top: 60px;
    padding-bottom: 40px;
    background: #f2f2f4;
}

    .work-cta a i {
        font-size: 25px;
    }

    .work-cta a {
        color: #999;
    }

        .work-cta a:hover {
            color: #0080C5;
        }
/**************footer css sart *******************/

#footer {
    position: relative;
    border-bottom: 1px solid #464647;
    background: #262626;
    padding: 50px 0 40px 0;
}

.footer-col .widget-title {
    color: #d5d5d5;
}

.footer-col p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #bbb;
}

.widget-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 0 10px 0;
    margin-bottom: 20px;
    color: #fff;
}

    .widget-title:first-letter {
        border-bottom: 5px solid #0080C5;
    }

.footer-col p {
    font-size: 14px;
    line-height: 26px;
    color: #d5d5d5;
    font-weight: 300;
}

/*footer bottom*/
#footer-bottom {
    background-color: #262626;
}

.footer-nav {
    padding: 30px 0 0;
    text-align: center;
}

.f-menu-items {
    margin: 0;
    padding: 0;
}

    .f-menu-items li:before {
        content: "|";
        margin: 0 12px 0 6px;
        color: #d5d5d5;
    }

    .f-menu-items li:first-child:before {
        content: "";
        margin: 0;
    }

    .f-menu-items li a {
        color: #bbb;
    }

        .f-menu-items li a:hover {
            color: #fff;
        }

.footer-privacy-text {
    padding: 25px 0;
    text-align: center;
    color: #d5d5d5;
}

/*tooltip*/
.tooltip {
    font-size: 16px;
    line-height: 2;
}

    .tooltip.top .tooltip-inner {
        background-color: #0080C5;
        padding: 6px 12px;
        font-size: 13px;
    }

    .tooltip.top .tooltip-arrow {
        border-top-color: #0080C5;
    }

/**contact**/

.contct-info {
    background: url('../images/network-cables.jpg') no-repeat center center fixed;
    width: 100%;
    padding: 40px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
}

.contct-detail {
    text-align: center;
    margin-bottom: 30px;
}

    .contct-detail h3 {
        color: #fff;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

        .contct-detail h3 i {
            font-size: 60px;
        }

    .contct-detail p {
        color: #fff;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 400;
    }

.contact-form-wrap {
    padding-top: 50px;
}

    .contact-form-wrap form .form-control {
        min-height: 50px;
        background-color: #fff;
    }

.help-block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .help-block ul li {
        color: red;
    }

/*forms*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
    border: 2px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    min-height: 45px;
    -ms-border-radius: 0;
    border-radius: 0;
    font-size: 12px;
    color: #7a7a7a;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    background: #FFF;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .form-control:focus {
        border-color: #999;
        background: #FFF;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none;
    }

.inner-page-content {
    padding-top: 40px;
}
/******************************blog entry and sidebar***************/
.entry {
    margin-bottom: 40px;
    border-bottom: 2px solid #F5F5F5;
}

.entry-title {
    font-size: 30px;
}

    .entry-title a {
        color: #333;
    }

        .entry-title a:hover {
            color: #0080C5;
        }

.blog-columns .entry-title {
    margin-top: 25px;
    font-size: 25px;
}
/************image hover ****/
.image-area {
    overflow: hidden;
    position: relative;
    display: block;
}

    .image-area img {
        width: 100%;
    }

.image-info {
    display: block;
    z-index: 120;
    position: absolute;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    top: auto;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #00c3b5;
    -ms-opacity: 0;
    opacity: 0;
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    /*-webkit-transform: translateY(100%);
-moz-transform: translateY(100%);
-ms-transform: translateY(100%);
-o-transform: translateY(100%);
transform: translateY(100%);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;*/
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.image-info-inner {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
}

    .image-info-inner h3 {
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 0;
    }

    .image-info-inner em {
        color: #fff;
        display: block;
    }

.image-info i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f2f2f2;
    color: #0080C5;
    margin-right: 10px;
}

.image-area:hover .image-info {
    /*-webkit-transform: translateY(0);
-moz-transform: translateY(0);
-ms-transform: translateY(0);
-o-transform: translateY(0);
transform: translateY(0);*/
    -ms-opacity: 1;
    opacity: 1;
}

.image-info {
    background: rgba(217, 91, 68, 0.85);
}

.entry-meta {
    padding: 15px 0;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 20px;
}

    .entry-meta ul {
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
    }

        .entry-meta ul li a i {
            margin-right: 5px;
        }

        .entry-meta ul li a {
            color: #aaa;
        }

.entry ul li a:hover {
    color: #0080C5;
}

.entry-meta li:after {
    content: '/';
    padding-left: 9px;
    padding-right: 8px;
}

.entry-meta li:last-child:after {
    content: "";
    display: none;
}

.read-more {
    display: block;
    margin: 30px 0;
}

/********************************sidebar***********************/
.sidebar-box {
    margin-bottom: 10px;
}

    .sidebar-box h4 {
        text-transform: uppercase;
        font-size: 18px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
    }

    .sidebar-box .fb-page {
        width: 100%;
    }

.search-form {
    position: relative;
    display: block;
}

    .search-form .form-control {
        -ms-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        height: 45px;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2)inset;
        -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.2)inset;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2)inset;
    }

    .search-form .submit-btn {
        background: transparent;
        border: none;
        position: absolute;
        right: 20px;
        top: 11px;
    }

ul.category-list li {
    background: url(../img/bullet.png) no-repeat 4px 15px;
    padding-left: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*    border-bottom: 1px solid #ddd;*/
}

    ul.category-list li a {
        color: #999;
    }

        ul.category-list li a:hover {
            color: #0080C5;
            margin-left: 5px;
        }

.entry-img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 0 15px 0 0;
    display: block;
}

    .entry-img img {
        -ms-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

.entry-c {
    overflow: hidden;
}

    .entry-c span {
        display: block;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }

        .entry-c span a {
            color: #666;
        }

    .entry-c a:hover {
        color: #0080C5;
    }

    .entry-c em {
        color: #999;
    }

.contact-wrap {
    margin-bottom: 50px;
}

    .contact-wrap h4 {
        margin-bottom: 30px;
    }

    .contact-wrap i {
        margin-right: 10px;
    }

    .contact-wrap p {
        margin: 0;
    }

.blank-page {
    padding-bottom: 150px;
    padding-top: 80px;
}

    .blank-page h2 {
        text-transform: uppercase;
    }

.error-page {
    padding-bottom: 80px;
}

    .error-page h2 {
        font-weight: 700;
        text-transform: uppercase;
    }

    .error-page p {
        margin-bottom: 30px;
    }

    .error-page i {
        color: #f1f1f1;
        font-size: 200px;
        line-height: 200px;
        margin-bottom: 20px;
    }

.center-heading {
    margin-bottom: 60px;
}

    .center-heading h3 {
        text-transform: uppercase;
        font-weight: 600;
    }

    .center-heading .center-line {
        width: 70px;
        height: 2px;
        background-color: #999;
        display: block;
        margin: 0 auto;
    }

    .center-heading p {
        font-size: 21px;
        color: #777;
        margin-top: 20px;
        font-weight: 300;
    }


/*****************cta******************/
.cta {
    padding: 50px 0;
    background-color: #f5f5f5;
}

    .cta h4 {
        text-transform: uppercase;
        margin-top: 10px;
    }

@media (max-width: 767px) {
    .intro-wrap, .inner-page-content {
        padding-top: 140px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .list-inline {
        text-align: center;
    }

        .list-inline li {
            display: block;
            margin-bottom: 5px;
        }

    .inputContainer {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-toggle {
        background-color: #333;
    }

    header.navbar-inverse {
        background-color: #ffffff;
    }

    header.stuck {
        background-color: #ffffff;
    }

    .intro-wrap {
        padding-top: 140px;
    }

    h2.pageHeading {
        font-size: 30px;
    }

    .navbar-nav .open .dropdown-menu .dropdown-menu > li > a {
        padding-left: 60px !important;
        color: #ddd !important;
    }

    .navbar .dropdown-menu li a {
        padding: 12px 15px 12px 40px !important;
        border-bottom: 1px solid #333 !important;
        color: #ddd !important;
    }

    .main-flex-slider h1 {
        line-height: 25px;
        padding: 0 5px;
        font-size: 25px;
    }

    .main-heading span {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    header.navbar-inverse {
        background-color: #ffffff;
    }

    header.stuck {
        background-color: #ffffff;
    }

    .intro-wrap, .inner-page-content {
        padding-top: 180px;
    }

    .main-flex-slider h1 {
        line-height: 50px;
        padding: 0 5px;
        font-size: 50px;
    }

    .cta h4 {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .banner-wrap {
        height: 50% !important;
    }

    .main-flex-slider h1 {
        line-height: 50px;
        padding: 0 5px;
        font-size: 50px;
    }
}

@media (min-width: 1200px) {
    .main-flex-slider h1 {
        line-height: 64px;
        padding: 7px 5px;
        font-size: 64px;
    }
}
