<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT GlobalSettings ANY>
<!ATTLIST GlobalSettings id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT projectPage ANY>
<!ATTLIST projectPage id ID #REQUIRED>
<!ELEMENT projectsLanding ANY>
<!ATTLIST projectsLanding id ID #REQUIRED>
<!ELEMENT servicePage ANY>
<!ATTLIST servicePage id ID #REQUIRED>
<!ELEMENT servicesLanding ANY>
<!ATTLIST servicesLanding id ID #REQUIRED>
<!ELEMENT SiteDetails ANY>
<!ATTLIST SiteDetails id ID #REQUIRED>
<!ELEMENT SiteMaster ANY>
<!ATTLIST SiteMaster id ID #REQUIRED>
<!ELEMENT SliderItem ANY>
<!ATTLIST SliderItem id ID #REQUIRED>
<!ELEMENT SlidersContainer ANY>
<!ATTLIST SlidersContainer id ID #REQUIRED>
<!ELEMENT StandardTextPage ANY>
<!ATTLIST StandardTextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1058" key="da34b2ee-4945-4e66-b0d5-7bea49376060" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-02T21:41:13" updateDate="2016-08-09T20:00:58" nodeName="Home" urlName="home" path="-1,1058" isDoc="" nodeType="1047" creatorName="Denford" writerName="Denford" writerID="0" template="1055" nodeTypeAlias="HomePage">
    <headerImageText><![CDATA[Home Entertainment Systems
NBN and ADSL Broadband
Home & Office Cabling]]></headerImageText>
    <bodyText><![CDATA[<p>We are a family run company, based in Adelaide, which specialises in all aspects of home , office and business networking and cabling solutions. With over 25 years of experience in the industry, we have the best team to cater for home entertainment systems, business and home fibre-optic (NBN) or ADS broadband solutions.</p>]]></bodyText>
    <pageHeading><![CDATA[For all your home and office Networking and Cabling]]></pageHeading>
    <pageIcon><![CDATA[home]]></pageIcon>
    <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
    <browserTitle><![CDATA[JMN Communications - Home]]></browserTitle>
    <hideFromMenu>0</hideFromMenu>
    <hideFromSideMenu>0</hideFromSideMenu>
    <headingImage>1084</headingImage>
    <StandardTextPage id="1066" key="7a7abad9-82d4-4065-ad80-c52cfd52bc53" parentID="1058" level="2" creatorID="0" sortOrder="0" createDate="2016-08-04T21:03:16" updateDate="2016-08-14T21:56:22" nodeName="About" urlName="about" path="-1,1058,1066" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="1057" nodeTypeAlias="StandardTextPage">
      <headerImageText><![CDATA[All you need to know about JMN Communications]]></headerImageText>
      <linkTittle><![CDATA[About]]></linkTittle>
      <bodyText><![CDATA[<p>We are family run business that has been working in the communication and technology industry for years. Over the years we have gained a lot of experience and expertise in all different communications areas including data centers, office and home data cabling for internet or power cabling, home entertainment centers to mention a few.</p>]]></bodyText>
      <pageHeading><![CDATA[About Us]]></pageHeading>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <pageAlbumImage><![CDATA[1083]]></pageAlbumImage>
      <headingImage>1086</headingImage>
      <StandardTextPage id="1077" key="85ac85c5-d33e-4679-a232-4041659cfece" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2016-08-06T20:50:17" updateDate="2016-08-14T22:04:41" nodeName="Terms &amp; Conditions" urlName="terms-conditions" path="-1,1058,1066,1077" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="1057" nodeTypeAlias="StandardTextPage">
        <pageHeading><![CDATA[Our Terms & Conditions]]></pageHeading>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
        <pageAlbumImage><![CDATA[1086]]></pageAlbumImage>
        <headingImage>1085</headingImage>
      </StandardTextPage>
      <StandardTextPage id="1079" key="d3052d9e-ba9e-4f37-afe2-85b0d3ef0429" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2016-08-06T20:53:51" updateDate="2016-08-06T20:53:51" nodeName="Guarantee" urlName="guarantee" path="-1,1058,1066,1079" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="1057" nodeTypeAlias="StandardTextPage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </StandardTextPage>
      <StandardTextPage id="1080" key="7f5337f0-8153-44fb-a55a-8c0e819fa223" parentID="1066" level="3" creatorID="0" sortOrder="3" createDate="2016-08-06T20:54:32" updateDate="2016-08-06T20:54:32" nodeName="Privacy" urlName="privacy" path="-1,1058,1066,1080" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="1057" nodeTypeAlias="StandardTextPage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </StandardTextPage>
    </StandardTextPage>
    <servicesLanding id="1067" key="af99fabb-739e-4038-920f-0b46965239d0" parentID="1058" level="2" creatorID="0" sortOrder="1" createDate="2016-08-04T21:03:59" updateDate="2016-08-15T22:07:24" nodeName="Services" urlName="services" path="-1,1058,1067" isDoc="" nodeType="1061" creatorName="Denford" writerName="Denford" writerID="0" template="1064" nodeTypeAlias="servicesLanding">
      <headerImageText><![CDATA[The services we can offer you...]]></headerImageText>
      <linkTittle><![CDATA[Our Services]]></linkTittle>
      <bodyText><![CDATA[<p>We have a wide range of services we can offer you and below is our most common services. If you can find anything you require listed below, do not hesitate to get in touch with us and we would be able to help you with it.</p>]]></bodyText>
      <pageHeading><![CDATA[All our services]]></pageHeading>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <headingImage>1102</headingImage>
      <servicePage id="1071" key="98080067-9bc0-4d4b-988d-5c8c22e6e749" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2016-08-06T20:46:06" updateDate="2016-08-14T22:19:28" nodeName="Home Entertainement" urlName="home-entertainement" path="-1,1058,1067,1071" isDoc="" nodeType="1063" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="servicePage">
        <bodyText><![CDATA[<p>Why not let us build your home entertainment system , from home cinema's , surround systems on your TV and audio system.</p>]]></bodyText>
        <pageHeading><![CDATA[Home Entertainment Sytems]]></pageHeading>
        <pageIcon><![CDATA[desktop]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </servicePage>
      <servicePage id="1072" key="630d31fd-adcd-419f-a18e-45be5463e48a" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2016-08-06T20:46:55" updateDate="2016-08-14T22:19:46" nodeName="Office Networks" urlName="office-networks" path="-1,1058,1067,1072" isDoc="" nodeType="1063" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="servicePage">
        <bodyText><![CDATA[<p>Full office installation, from computer networks wiring to phone systems, we can do all the wiring to meet your needs including the electric wiring.</p>]]></bodyText>
        <pageIcon><![CDATA[building]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </servicePage>
      <servicePage id="1073" key="aea7b169-19e0-42b6-97b5-0570f41d200f" parentID="1067" level="3" creatorID="0" sortOrder="2" createDate="2016-08-06T20:47:40" updateDate="2016-08-14T22:20:21" nodeName="Security &amp; CCTV" urlName="security-cctv" path="-1,1058,1067,1073" isDoc="" nodeType="1063" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="servicePage">
        <linkTittle><![CDATA[Home & Office CCTV]]></linkTittle>
        <bodyText><![CDATA[<p>We can install all your home and office security system needs from wiring, camera installs and the recording systems.</p>]]></bodyText>
        <pageIcon><![CDATA[video-camera]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </servicePage>
      <servicePage id="1074" key="57b8e9a1-c0b8-434c-89b7-ce4fd53d36ed" parentID="1067" level="3" creatorID="0" sortOrder="3" createDate="2016-08-06T20:48:21" updateDate="2016-08-14T22:20:43" nodeName="Data &amp; NBN Cabling" urlName="data-nbn-cabling" path="-1,1058,1067,1074" isDoc="" nodeType="1063" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="servicePage">
        <bodyText><![CDATA[<p>All your ADSL and NBN broadband installations for your home and office, including extending your existing broadband to cover other rooms.</p>]]></bodyText>
        <pageIcon><![CDATA[info-circle]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </servicePage>
      <servicePage id="1075" key="c0661694-77f2-4039-ac60-31d3e298dc42" parentID="1067" level="3" creatorID="0" sortOrder="4" createDate="2016-08-06T20:48:54" updateDate="2016-08-14T22:21:13" nodeName="Audio Visual Installation" urlName="audio-visual-installation" path="-1,1058,1067,1075" isDoc="" nodeType="1063" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="servicePage">
        <bodyText><![CDATA[<p>We cater for all audio related installations from home systems to full night club installations as well as recomend equipment to have.</p>]]></bodyText>
        <pageIcon><![CDATA[volume-up]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </servicePage>
      <servicePage id="1076" key="11274053-88c7-4abb-84b0-f59c94456913" parentID="1067" level="3" creatorID="0" sortOrder="5" createDate="2016-08-06T20:49:41" updateDate="2016-08-14T22:21:31" nodeName="Solar Power Systems" urlName="solar-power-systems" path="-1,1058,1067,1076" isDoc="" nodeType="1063" creatorName="Denford" writerName="Denford" writerID="0" template="1065" nodeTypeAlias="servicePage">
        <bodyText><![CDATA[<p>We are fully qualified to install all types of solar systems for residential and commercial building including linking it to your existing electrical system.</p>]]></bodyText>
        <pageIcon><![CDATA[plug]]></pageIcon>
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </servicePage>
    </servicesLanding>
    <projectsLanding id="1096" key="b087c94e-f43e-4e45-80c7-1ec422b0c392" parentID="1058" level="2" creatorID="0" sortOrder="2" createDate="2016-08-11T21:34:58" updateDate="2016-08-14T22:24:55" nodeName="Projects" urlName="projects" path="-1,1058,1096" isDoc="" nodeType="1094" creatorName="Denford" writerName="Denford" writerID="0" template="1098" nodeTypeAlias="projectsLanding">
      <pageHeading><![CDATA[All Projects We have done so far...]]></pageHeading>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
      <projectPage id="1097" key="aefff72d-220b-4b6a-8a34-e3857e4039b3" parentID="1096" level="3" creatorID="0" sortOrder="0" createDate="2016-08-11T21:35:29" updateDate="2016-08-14T22:25:18" nodeName="Cinema Upgrade" urlName="cinema-upgrade" path="-1,1058,1096,1097" isDoc="" nodeType="1095" creatorName="Denford" writerName="Denford" writerID="0" template="1099" nodeTypeAlias="projectPage">
        <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
        <hideFromMenu>0</hideFromMenu>
        <hideFromSideMenu>0</hideFromSideMenu>
      </projectPage>
    </projectsLanding>
    <contact id="1068" key="6f7a3ad1-5083-4af9-9054-c979de4fb68f" parentID="1058" level="2" creatorID="0" sortOrder="3" createDate="2016-08-04T21:05:03" updateDate="2016-08-11T21:35:57" nodeName="Contact" urlName="contact" path="-1,1058,1068" isDoc="" nodeType="1049" creatorName="Denford" writerName="Denford" writerID="0" template="1056" nodeTypeAlias="contact">
      <linkTittle><![CDATA[Contact Us]]></linkTittle>
      <bodyText><![CDATA[<p>We simply want to make sure you get what you need and our service is providing the best bang for your buck, so get in touch and we will discuss the best possible solution not just to meet your budget but your needs as well. </p>]]></bodyText>
      <pageHeading><![CDATA[Let's get in touch to discuss your needs]]></pageHeading>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </contact>
    <StandardTextPage id="1078" key="223ded7a-2fce-4921-985b-b944f01bab79" parentID="1058" level="2" creatorID="0" sortOrder="4" createDate="2016-08-06T20:51:20" updateDate="2016-08-06T20:51:47" nodeName="Error Page" urlName="error-page" path="-1,1058,1078" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="1057" nodeTypeAlias="StandardTextPage">
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>1</hideFromMenu>
      <hideFromSideMenu>1</hideFromSideMenu>
    </StandardTextPage>
  </HomePage>
  <GlobalSettings id="1069" key="d499a091-2f22-4c7c-8cec-a9840459d191" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-08-04T21:15:16" updateDate="2016-08-04T21:15:16" nodeName="Site Settings" urlName="site-settings" path="-1,1069" isDoc="" nodeType="1050" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="GlobalSettings">
    <SiteDetails id="1070" key="b1c02acc-f7a9-4d40-ad94-d24adeb70370" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2016-08-04T21:25:14" updateDate="2016-08-13T20:42:23" nodeName="Site General Details" urlName="site-general-details" path="-1,1069,1070" isDoc="" nodeType="1051" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteDetails">
      <siteContactEmail><![CDATA[jasonnicholls@hotmail.com]]></siteContactEmail>
      <facebookPage><![CDATA[https://www.facebook.com/sweetserenitybysarah]]></facebookPage>
      <sitePhoneNumber><![CDATA[0123 456 789]]></sitePhoneNumber>
      <siteEmailAddress><![CDATA[admin@jmncommunications.com.au]]></siteEmailAddress>
      <siteName><![CDATA[JMN Communications]]></siteName>
      <defaultMetaDescription><![CDATA[We specialise in all communications related work including home and office installation. All work undertaken,fully insured and done by qualified technicians to industry standards.]]></defaultMetaDescription>
      <defaultKeyWords><![CDATA[JMN Communications, Adelaide, NBN, Broadband, Cabling, Networking, Home entertainment, Data Cabling,Home Cinema, Data Centers, Fibre Optic]]></defaultKeyWords>
      <mainHeaderLogo>1082</mainHeaderLogo>
      <footerABNNumber><![CDATA[ABN :123 456 789 ]]></footerABNNumber>
      <siteOpeningTimes><![CDATA[10 Am to 7 PM
Monday to Friday]]></siteOpeningTimes>
      <sitePhoneNumbers><![CDATA[+61 1234 567 890
+61 4500 123 456]]></sitePhoneNumbers>
      <siteAddress><![CDATA[Aberfoyle,
Adelaide,
SA 5159]]></siteAddress>
      <footerLinks><![CDATA[1077,1068,1079,1067,1080]]></footerLinks>
      <copyrightText><![CDATA[JMN Communications Copyright]]></copyrightText>
    </SiteDetails>
  </GlobalSettings>
</root>