<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT GlobalSettings ANY>
<!ATTLIST GlobalSettings id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT servicePage ANY>
<!ATTLIST servicePage id ID #REQUIRED>
<!ELEMENT servicesLanding ANY>
<!ATTLIST servicesLanding id ID #REQUIRED>
<!ELEMENT SiteDetails ANY>
<!ATTLIST SiteDetails id ID #REQUIRED>
<!ELEMENT SiteMaster ANY>
<!ATTLIST SiteMaster id ID #REQUIRED>
<!ELEMENT SliderItem ANY>
<!ATTLIST SliderItem id ID #REQUIRED>
<!ELEMENT SlidersContainer ANY>
<!ATTLIST SlidersContainer id ID #REQUIRED>
<!ELEMENT StandardTextPage ANY>
<!ATTLIST StandardTextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1058" key="da34b2ee-4945-4e66-b0d5-7bea49376060" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-02T21:41:13" updateDate="2016-08-04T21:31:57" nodeName="Home" urlName="home" path="-1,1058" isDoc="" nodeType="1047" creatorName="Denford" writerName="Denford" writerID="0" template="1055" nodeTypeAlias="HomePage">
    <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
    <browserTitle><![CDATA[JMN Communications - Home]]></browserTitle>
    <hideFromMenu>0</hideFromMenu>
    <hideFromSideMenu>0</hideFromSideMenu>
    <StandardTextPage id="1066" key="7a7abad9-82d4-4065-ad80-c52cfd52bc53" parentID="1058" level="2" creatorID="0" sortOrder="0" createDate="2016-08-04T21:03:16" updateDate="2016-08-04T21:03:16" nodeName="About" urlName="about" path="-1,1058,1066" isDoc="" nodeType="1048" creatorName="Denford" writerName="Denford" writerID="0" template="1057" nodeTypeAlias="StandardTextPage">
      <linkTittle><![CDATA[About]]></linkTittle>
      <pageHeading><![CDATA[About Us]]></pageHeading>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </StandardTextPage>
    <servicesLanding id="1067" key="af99fabb-739e-4038-920f-0b46965239d0" parentID="1058" level="2" creatorID="0" sortOrder="1" createDate="2016-08-04T21:03:59" updateDate="2016-08-04T21:03:59" nodeName="Services" urlName="services" path="-1,1058,1067" isDoc="" nodeType="1061" creatorName="Denford" writerName="Denford" writerID="0" template="1060" nodeTypeAlias="servicesLanding">
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </servicesLanding>
    <contact id="1068" key="6f7a3ad1-5083-4af9-9054-c979de4fb68f" parentID="1058" level="2" creatorID="0" sortOrder="2" createDate="2016-08-04T21:05:03" updateDate="2016-08-04T21:05:03" nodeName="Contact" urlName="contact" path="-1,1058,1068" isDoc="" nodeType="1049" creatorName="Denford" writerName="Denford" writerID="0" template="1056" nodeTypeAlias="contact">
      <linkTittle><![CDATA[Contact]]></linkTittle>
      <pageHeading><![CDATA[Contact Us]]></pageHeading>
      <searchEngineSiteMapHide>0</searchEngineSiteMapHide>
      <hideFromMenu>0</hideFromMenu>
      <hideFromSideMenu>0</hideFromSideMenu>
    </contact>
  </HomePage>
  <GlobalSettings id="1069" key="d499a091-2f22-4c7c-8cec-a9840459d191" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-08-04T21:15:16" updateDate="2016-08-04T21:15:16" nodeName="Site Settings" urlName="site-settings" path="-1,1069" isDoc="" nodeType="1050" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="GlobalSettings">
    <SiteDetails id="1070" key="b1c02acc-f7a9-4d40-ad94-d24adeb70370" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2016-08-04T21:25:14" updateDate="2016-08-04T21:34:22" nodeName="Site General Details" urlName="site-general-details" path="-1,1069,1070" isDoc="" nodeType="1051" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteDetails">
      <siteAddress><![CDATA[Aberfoyle, Adelaide, SA 5159]]></siteAddress>
      <siteEmailAddress><![CDATA[admin@jmncommunications.com.au]]></siteEmailAddress>
      <siteName><![CDATA[JMN Communications]]></siteName>
      <defaultMetaDescription><![CDATA[We specialise in all communications related work including home and office installation. All work undertaken,fully insured and done by qualified technicians to industry standards.]]></defaultMetaDescription>
      <defaultKeyWords><![CDATA[JMN Communications, Adelaide, NBN, Broadband, Cabling, Networking, Home entertainment, Data Cabling,Home Cinema, Data Centers, Fibre Optic]]></defaultKeyWords>
    </SiteDetails>
  </GlobalSettings>
</root>