@inherits UmbracoTemplatePage
@{
    <header class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img src="/Images/JMN-Communications-Logo.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="navbar-collapse collapse">
                        <div class="headerTopLinks clearfix">
                            <ul class="list-inline pull-right">
                                <li>
                                    <a href="/">
                                        <i class="fa fa-envelope"></i>
                                        admin@@jmncommunications.com.au
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        <i class="fa fa-phone"></i>
                                        0123 456 789
                                    </a>
                                </li>
                                <li>
                                    <a href="/">
                                        <i class="fa fa-facebook"></i>
                                        Facebook
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="headerBottomLinks clearfix">
                            <ul class="nav navbar-nav scrollto navbar-right">
                                <li>
                                    <a href="#">Home </a>
                                </li>
                                <li>
                                    <a href="#">About Us </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">
                                        Our Services <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Home Entertainement</a></li>
                                        <li><a href="#">Office Networks</a></li>
                                        <li><a href="#">Security & CCTV</a></li>
                                        <li><a href="#">Data & NBN Cabling</a></li>
                                        <li><a href="#">Audio Visual Installation</a></li>
                                        <li><a href="#">Solar Power Systems</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#contact">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
}