@inherits UmbracoTemplatePage
@{
    Layout = "SiteMaster.cshtml";

    <section class="inner-page-content">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-sm-12">
                    @Html.Partial("Master/PageMainArea")

                    @Html.Partial("Service/List")
                </div>

                <div class="col-sm-4 hidden-sm hidden-xs">
                    @Html.Partial("Master/PageSideArea")
                </div>

            </div>
        </div>
    </section>

}